now its good but remember without downgrading code quality without leakage without overlaping without mismatch without hard coded without placeholder keep in mind varify it then must be clean profectioal code quality 100%  backend step by step internally after writing anykind of fucnanality now you need to execute the plan without brekaing the system code low so fisrt analyse then execute it got it 